<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="My.MySettings.analogConnectionString" connectionString="server=analog;User Id=analog;database=analog"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <My.MySettings>
            <setting name="LastUsedStation" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="bGetStatDisque" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bGetPrograms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bLogErreur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bLogDebug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sSite" serializeAs="String">
                <value>Tous</value>
            </setting>
            <setting name="sScanServer" serializeAs="String">
                <value>P00CAPX010</value>
            </setting>
            <setting name="sScanServerDataFolder" serializeAs="String">
                <value>c$\analogScanData</value>
            </setting>
            <setting name="sVncPath" serializeAs="String">
                <value>C:\Program Files\RealVNC\VNC4\vncviewer.exe</value>
            </setting>
            <setting name="bRemenberPosAndSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sFrmMainPosAndSize" serializeAs="String">
                <value>0|0|0|0</value>
            </setting>
            <setting name="cPanelState" serializeAs="String">
                <value />
            </setting>
            <setting name="bSaveWindowPos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bSavePanelState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bTransparency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bLogPanelCollapse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iLogPanelSplitterDistance" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="blogInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bGetLogAnalyze" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="shortMajGraphDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sDBServer" serializeAs="String">
                <value>analog</value>
            </setting>
            <setting name="sDBDatasource" serializeAs="String">
                <value>analog</value>
            </setting>
            <setting name="sDBUser" serializeAs="String">
                <value>analog</value>
            </setting>
            <setting name="sDBPassword" serializeAs="String">
                <value>analog</value>
            </setting>
            <setting name="bActiveComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShowDeletedComputers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShowScanKO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bGraphAntialiasing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAnimateGraph" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sTabOpenList" serializeAs="String">
                <value />
            </setting>
            <setting name="bSaveSessionTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sSccmPath" serializeAs="String">
                <value>C:\Program Files\Microsoft Configuration Manager\AdminConsole\bin\i386\CmRcViewer.exe</value>
            </setting>
            <setting name="bfilterDatescan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="uintPingTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
        </My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
